.loginBody{ 
    height: 100%;
    width: 100%;
      background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
}
.loginPage{ 
    height: 100%;
    width: 100%;
    background-image: url(https://www.sportito.in/inc/images/Allplayers.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginForm{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
     justify-self: centr;
    width: 400px;
    height: 410px;;
    border-radius: 15px;
}
    .emailInp{ 
        height: 40px;
        width: 300px;
        font-family: cursive;
        outline: none;
        font-size: 17px;
        /* border:1px solid; */
        margin-bottom:5px;
    }
    .passwordInp{ 
        height: 40px;
        width: 300px;
        font-family: cursive;
        outline: none;
        /* border:1px solid; */
        font-size: 17px;
    }
.loginBtn{ 
    width: 95px;
    height: 35px;
    background-color: rgba(7, 62, 243, 0.404);
    border: none;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
    border-radius: 15px;
    box-shadow: 2px 6px 9px rgb(50, 62, 228);
}
.error{ 
    /* background-color: rgba(255, 255, 255, 0.507); */
    /* border: 1px solid; */
    color: red;
    margin: 5px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
    width: 300px;
    height: 165px;
}
.registrationBtn{ 
    background-color: rgba(7, 62, 243, 0.404);
    width: 95px;
    height: 35px;
    border: none;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
    border-radius: 15px;
    box-shadow: 2px 6px 9px rgb(50, 62, 228);
}
.loginBtn:hover{ 
    background-color: rgba(7, 37, 136, 0.877);
    transition-duration: 1s;
}
.registrationBtn:hover{ 
    background-color: rgba(7, 37, 136, 0.877);
    transition-duration: 1s;
}
.loginBtn:active{ 
    height: 33px;
    box-shadow: 2px 6px 9px rgb(50, 62, 228);
    background-color: rgba(7, 62, 243, 0.404);
    transition-duration: 0s;
}
.registrationBtn:active{ 
    height: 33px;
    box-shadow: 2px 6px 9px rgb(50, 62, 228);
    background-color: rgba(7, 62, 243, 0.404);
    transition-duration: 0s;
}